<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SalaryMapper">

    <insert id="addSalary" parameterType="com.example.model.Salary">
        insert into salary
        values(null,#{salary.basicSalary},#{salary.bonus},#{salary.lunchSalary},#{salary.trafficSalary},#{salary.allSalary},#{salary.pensionBase},#{salary.pensionPer},#{salary.medicalBase},#{salary.medicalPer},#{salary.accumulationFundBase},#{salary.accumulationFundPer},#{salary.name})
    </insert>

    <update id="editEmpSalary" parameterType="Integer">
        update employee_salary set employee_salary.sid = #{sid} where employee_salary.eid = #{eid}
    </update>

    <update id="editSalary" parameterType="com.example.model.Salary">
        update salary
        <set>
            <if test="salary.name != null and salary.name != ''">
                name = #{salary.name},
            </if>
            <if test="salary.bonus != null and salary.bonus != ''">
                bonus = #{salary.bonus},
            </if>
            <if test="salary.lunchSalary != null and salary.lunchSalary != ''">
                lunchSalary = #{salary.lunchSalary},
            </if>
            <if test="salary.trafficSalary != null and salary.trafficSalary != ''">
                trafficSalary = #{salary.trafficSalary},
            </if>
            <if test="salary.basicSalary != null and salary.basicSalary != ''">
                basicSalary = #{salary.basicSalary},
            </if>
            <if test="salary.allSalary != null and salary.allSalary != ''">
                allSalary = #{salary.allSalary},
            </if>
            <if test="salary.pensionBase != null and salary.pensionBase != ''">
                pensionBase = #{salary.pensionBase},
            </if>
            <if test="salary.pensionPer != null and salary.pensionPer != ''">
                pensionPer = #{salary.pensionPer},
            </if>
            <if test="salary.medicalBase != null and salary.medicalBase != ''">
                medicalBase = #{salary.medicalBase},
            </if>
            <if test="salary.medicalPer != null and salary.medicalPer != ''">
                medicalPer = #{salary.medicalPer},
            </if>
            <if test="salary.accumulationFundBase != null and salary.accumulationFundBase != ''">
                accumulationFundBase = #{salary.accumulationFundBase},
            </if>
            <if test="salary.accumulationFundPer != null and salary.accumulationFundPer != ''">
                accumulationFundPer = #{salary.accumulationFundPer},
            </if>
        </set>
        where id = #{salary.id}
    </update>


    <select id="getAllSalaries" resultType="com.example.model.Salary">
        select * from salary
    </select>
</mapper>